@page "/"
@using BlazorMedia
@using BlazorMedia.Model

@inherits IndexViewModel

<h1>Hello, world!</h1>

Welcome to your new app.

@if(IsRecording)
{
    <VideoMedia OnDataReceived="OnDataReceived" Timeslice="100" Width="1024" Height="768" RecordAudio="true" CameraDeviceId="@SelectedCamera" MicrophoneDeviceId="@SelectedMicrophone"></VideoMedia>
}
else
{
    <VideoMedia Timeslice="100" Width="1024" Height="768" RecordAudio="true" CameraDeviceId="@SelectedCamera" MicrophoneDeviceId="@SelectedMicrophone"></VideoMedia>
}

<button @onclick="@(()=>{ OnToggleRecordingPressed(); })">Toggle Recording</button>

@if(Cameras.Count > 0) {
    <div>
        <label for="cameras">Cameras: </label>
        <select id="cameras" value="@SelectedCamera" @onchange="@((e)=>{ OnCameraSelected(e); })">
            @foreach(MediaDeviceInfo mdi in Cameras)
            {
                <option value="@mdi.deviceId" >@mdi.label</option>
            }
        </select>
        <p>Selected Camera:@(SelectedCamera)</p>
    </div>
}
@if(Microphones.Count > 0) {
    <div>
        <label for="microphones">Microphones: </label>
        <select id="microphones" value="@SelectedMicrophone" @onchange="@((e)=>{ OnMicrophoneSelected(e); })">
            @foreach(MediaDeviceInfo mdi in Microphones)
            {
                <option value="@mdi.deviceId">@mdi.label</option>
            }
        </select>
        <p>Selected Microphone:@(SelectedMicrophone)</p>
    </div>
}