@page "/"
@using BlazorMedia
@using BlazorMedia.Model

@inherits IndexViewModel

<div>
    FPS: @FPS, KBps: @KBps
</div>
<VideoMedia 
    @ref="VideoMediaComponent"
    OnData="OnData"
    OnError="OnError"
    OnFPS="OnFPS"
    Timeslice="33"
    Width="1920"
    Height="1080"
    RecordAudio="true"
    CameraDeviceId="@SelectedCamera"
    MicrophoneDeviceId="@SelectedMicrophone" />
<div>
    <button @onclick="OnToggleRecordingPressed">Reload</button>
</div>
@if(Cameras.Count > 0) {
    <div>
        <label for="cameras">Cameras: </label>
        <select id="cameras" value="@SelectedCamera" @onchange="@((e)=>{ OnCameraSelected(e); })">
            @foreach(MediaDeviceInfo mdi in Cameras)
            {
                <option value="@mdi.DeviceId" >@mdi.Name</option>
            }
        </select>
        <p>Selected Camera:@(SelectedCamera)</p>
    </div>
}
@if(Microphones.Count > 0) {
    <div>
        <label for="microphones">Microphones: </label>
        <select id="microphones" value="@SelectedMicrophone" @onchange="@((e)=>{ OnMicrophoneSelected(e); })">
            @foreach(MediaDeviceInfo mdi in Microphones)
            {
                <option value="@mdi.DeviceId">@mdi.Name</option>
            }
        </select>
        <p>Selected Microphone:@(SelectedMicrophone)</p>
    </div>
}